.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.button {
  margin-top: 1rem;
  padding: 0.5rem;
}

.input {
  width: 100%;
  margin-bottom: 0.7rem;
  padding: 1rem;
  background-color: var(--black);
  color: var(--white);
  font-weight: 300;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  font-family: var(--quicksand);
}

.error {
  margin-bottom: 8px;
  font-size: 1rem;
  color: var(--error);
  text-align: left;
  width: 100%;
  padding-left: 6px;
}
