.columnContainer {
  display: flex;
  flex-wrap: nowrap;
}

.column {
  flex: 50%;
  margin-top: 1rem;
}

.timestamp {
  font-size: var(--p-size);
  margin: 4px;
  font-weight: 300;
}

.iconButton {
  cursor: pointer;
}
