.instructions {
  margin-top: 1.5rem;
}
.instructions p {
  font-size: var(--subtext-size);
}

.columnContainer {
  display: flex;
  flex-wrap: nowrap;
}

.column {
  flex: 50%;
  margin-top: 1.2rem;
}

.timestamp {
  font-size: var(--p-size) -1;
  margin: 4px;
  font-weight: 300;
}

.iconContainer {
  margin-bottom: 1rem;
}

.iconButton {
  cursor: pointer;
}
