.container {
  min-height: 100vh;
}

.instructions {
  margin: 1.5rem 0;
}
.instructions p {
  font-size: var(--subtext-size);
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.image:nth-child(2n) {
  flex-basis: 100%;
}

.imageContainer {
}

.icon {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2px 12px;
  color: white;
}

.starIcon {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 8px;
}

.uploadImage {
  border-radius: 6px;
  background-color: gray;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
