@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

.main {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 1.5rem 2rem;
  text-align: center;
  margin: 2rem;
  border-radius: 0.5rem;
  background-color: var(--dark-gray-background);
  padding-bottom: 1rem;
  margin-bottom: 9rem;
  box-sizing: border-box;
  overflow-x: hidden;
  color: var(--white);
  font-family: "Quicksand," sans-serif;
}

.contents {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
