.main {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 1.5rem 2rem;
  text-align: center;
  margin: 2rem;
  border-radius: 0.5rem;
  background-color: var(--dark-gray-background);
  padding-bottom: 10rem;
  box-sizing: border-box;
  overflow-x: hidden;
  background: var(--black);
  color: var(--white);
  font-family: "Quicksand," sans-serif;
}

.contents {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
