:root {
  --black: #141429;
  --white: #e0d6d3;
  --dark-gray-background: #242639;
  --rust: #b95c17;
  --teal: #1e8b99;
  --sand: #d2b8af;
  --light-teal: #72a6b0;
  --light-rust: #c5926a;
  --error: red;
  --p-size: 1.1rem;
  --h2-size: 1.8rem;
  --quicksand: "Quicksand", sans-serif;
}

html {
  font-family: var(--quicksand);
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background: var(--black);
  color: var(--white);
}

h1 {
  font-weight: 400;
  font-size: 1.8rem;
}

h2,
div,
p,
select {
  color: white;
  font-family: var(--quicksand);
}

div[role="tab"] {
  font-size: 18px;
}

img {
  border-radius: 6px;
}
.ui.card,
.ui.cards > .card {
  box-shadow: none;
  background: var(--black);
  border-radius: 6px;
}

.ui.card,
.ui.card.mini {
  background: var(--black);
}
