@import 'webflow.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;600&display=swap');

:root {
  --black: #141429;
  --true-white: #ffffff;
  --white: #e0d6d3;
  --off-white: #f4f4f6;
  --dark-gray-background: #242639;
  --rust: #b95c17;
  --teal: #3a8a8d;
  --sand: #d2b8af;
  --light-teal: #72a6b0;
  --light-rust: #c5926a;
  --error: #920303;
  --p-size: 1rem;
  --subtext-size: 0.8rem;
  --h2-size: 1.5rem;
  --font-lato: 'Lato', sans-serif;
}

body {
  font-family: var(--font-lato);
  color: var(--white);
}

/* 

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background: var(--black);
  color: var(--white);
}

h1 {
  font-weight: 400;
  font-size: 1.8rem;
}

h2,
div,
p,
select {
  color: white;
  font-family: var(--quicksand);
}

div[role="tab"] {
  font-size: 18px;
}

img {
  border-radius: 6px;
}
.ui.card,
.ui.cards > .card {
  box-shadow: none;
  background: var(--black);
  border-radius: 6px;
}

.ui.card,
.ui.card.mini {
  background: var(--black);
} */
