:root {
  --black: #141429;
  --white: #dce0e7;
  --dark-gray-background: #242639;
  --rust: #b95c17;
  --teal: #1e8b99;
  --sand: #d2b8af;
  --light-teal: #72a6b0;
  --light-rust: #c5926a;
}

html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  background: var(--black);
  color: var(--white);
  /* padding: 0;
  margin: 0; */
}
