.container {
  margin-top: 1rem;
}

.cardRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 1rem 0;
  box-sizing: border-box;
  background-color: var(--dark-gray-background);
  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: 0.4rem;
}

.iconsContainer {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex: 0 0 10%;
}

.iconButton {
  flex: 1 1 100%;
  background-color: #1d1e2a;
  border-radius: 0.2rem;
  border: 1px solid gray;
  box-sizing: border-box;
}

.iconButton:first-child {
  margin-bottom: 0.5rem;
}

.icon {
  padding: 0.4rem 0;
}

.fertilizer {
  color: var(--rust);
}

.droplet {
  color: var(--teal);
}

.cardImageContainer {
  flex: 0 0 20%;
}

.cardTextContainer {
  flex: 0 0 60%;
  box-sizing: border-box;
  height: 100%;
  text-transform: capitalize;
  margin-bottom: 0;
  text-align: left;
}

.cardTextContainer a:visited,
.cardTextContainer a:active,
.cardTextContainer a:link,
.link {
  text-decoration: none;
  color: var(--white);
}

.cardTextContainer p {
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 0.6rem;
  line-height: 1rem;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.plantName {
  font-size: 0.8rem;
}

.tileImage {
  object-position: center;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  border-radius: 0.2rem;
}
