.container {
  padding: 1rem 0;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.image:nth-child(2n) {
  flex-basis: 100%;
}

.imageContainer {
  border: 1px solid green;
}

.icon {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2px 12px;
  color: white;
}
